<div class="w3-cell-row">
  <div class="w3-container w3-cell w3-mobile">
    <div class="w3-card w3-amber w3-round-large w3-padding-16">
      <p class="w3-animate-left w3-center">Food</p>
    </div>
  </div>
  <div class="w3-container  w3-cell w3-mobile">
    <div class="w3-card w3-khaki w3-round-large w3-padding-16">
      <p class="w3-animate-left w3-center">Electric and Electronics</p>
    </div>
  </div>
  <div class="w3-container  w3-cell w3-mobile">
    <div class="w3-card w3-orange w3-round-large w3-padding-16">
      <p class="w3-animate-left w3-center">Electric and Electronics</p>
    </div>
  </div>
  <div class="w3-container  w3-cell w3-mobile">
    <div class="w3-card w3-lime w3-round-large w3-padding-16">
      <p class="w3-animate-left w3-center">Other</p>
    </div>
  </div>
</div>
